
<div class="container">
   <div class="row">
    <!-- <div class="col-6">
      <form [formGroup]="pessangerForm" (ngSubmit)="AddForm()">
            <input class="form-control" formControlName="firstName">
            <input class="form-control" formControlName="email">
            <button type="submite" class="btn btn-primary">Add Submite</button>
      </form>
    </div> -->

     <div class="col-12" (click)="userApi()" >
      <p-table [value]="users" > <!--[paginator]="true" [rows]="10" [showCurrentPageReport]="true" -->
        <ng-template pTemplate="header">
            <tr>

                <th>name</th>
                <th>trips</th>
                <th>airline</th>
                <th>country</th>
                <th>logo</th>
                <th>slogan</th>
                <th>head_quaters</th>
                <th>website</th>
                <th>established</th>
                <th>view</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pas>
            <tr>
                <td>{{pas.name}}</td>
                <td>{{pas.trips}}</td>
                <td>{{pas.airline[0].name}}</td>
                 <td >{{pas.airline[0].country}}</td>
                <td ><img style="width:20px;height:20px" [src]='pas.airline[0].logo'></td>
                <td >{{pas.airline[0].slogan}}</td>
                <td >{{pas.airline[0].head_quaters}}</td>
                <td >{{pas.airline[0].website}}</td>
                <td >{{pas.airline[0].established}}</td>
                <td [routerLink]="['/show', pas._id]" routerLinkActive="router-link-active"><i class="pi-external-link"></i></td>
                <td (click)="confirm(pas._id)"><i class="pi pi-trash"></i></td>
          <!-- <td (click)="showChildComponent(car)"><i class="pi pi-reply"></i></td> -->

            </tr>
        </ng-template>

    </p-table>

     </div>
   </div>
</div>
<p-confirmPopup></p-confirmPopup>
<!-- <div [hidden]="true"><app-show-page></app-show-page></div> -->
 <!-- <div *ngIf="hidden"><app-edit-page [Name]="showEditPage" (editResponse)="getEditResponse($event)"></app-edit-page></div> -->
 <!-- <div *ngIf="hidden">
  <app-edit-page [Name]="showEditPage" (editResponse)="getEditResponse($event)" ></app-edit-page>
</div> -->
<p-paginator [rows]="1" [totalRecords]="totalrecords"  (onChangePage)="paginate($event)"></p-paginator>

